# Node modules for both frontend and backend
client/node_modules
server/node_modules

# Environment files
client/.env
server/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
client/.next
client/out
client/build
server/dist

# OS-specific files
.DS_Store
Thumbs.db

# Docker stuff
*.env.local
.env.docker
.env.production

# Editor folders
.vscode
.idea

# Documentations
easy-buy Documentation/
